
* {
  box-sizing: border-box;
}

body {
  font-family: "Times New Roman";
  font-weight: 400px;
  font-style: italic;
  font-size: 22px;
  line-height: 34px;
  color: #181D19;
}

.site-navigation {
  display: flex;
}
.site-navigation-item a{
  font-style: normal;
  font-size: 20px;
  line-height: 23px;
  text-decoration: none;
  color: #2C3847;
}

ul {
  list-style-type: none;
}


.main-nav {
  background-color: #608354;

}

.main-nav ul li {
  display: inline-block;
}
.main-nav-input {
  width: 193px;
  height: 54px;
  
  text-decoration: none;
  color: #433434;
  background-color: #E4E2CCE8;
  border-radius: 27%;
  font-size: 20px;
  padding: 20px 44px;
  
}

.site-navigation {
  display: inline-block;
}

.benefit-items {
    background-image: url("img/benefit-item1.svg");
    background-position: left center;
    background-repeat: no-repeat;
  }

  .hero h1 {
    font-size: 76px;
  }