/*ИНЗИЛЯ*/

/*styles for main page*/

* {
  box-sizing: border-box;
}

body {
  font-family: 'Poppins', sans-serif;
  font-weight: 500;
  color: #544837;
  font-size: 16px;
  line-height: 26px;
  font-style: italic;
}

button {
  font-family: 'Poppins', sans-serif; 
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
  cursor: pointer;
}

.title {
  color: #2F281E;
}

.container {
  max-width: 1124px; 
  margin: 0 auto;
  padding: 0 10px;
}

.header__inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 78px; 
}

.menu {
  margin-left: auto;
}

.menu__list {
  display: flex;
}

.menu__list-item + .menu__list-item {
  margin-left: 24px;
}

.menu__list-link {
  color: #2C3847;
  font-size: 15px;
  line-height: 30px;
  font-weight: 400;
  text-decoration: none;
  font-style: normal;
}

.user-nav {
  margin-left: 52px;
  margin-right: 13px;
}

.user-nav__link {
  color: #FFFFFF;
  font-size: 15px;
  line-height: 30px;
  font-weight: 400;
  padding: 12px 44px;
  border-color: transparent;
  background-color: #8A8A8A;
  border-radius: 50px;
  text-decoration: none;
  cursor: pointer;
  font-style: normal;
}

.top__inner {
  padding: 133px 0 80px; 
  background-image: url("../images/top-bg.png");
  background-repeat: no-repeat;
  background-position: center right;
}

.top__title {
  font-weight: 400;
  font-size: 55px;
  line-height: 70px;
  margin-bottom: 30px;
  max-width: 530px;
}

.top__title-span {
  color: #0FAD4E;
}

.top__text {
  font-weight: 400;
  font-size: 24px;
  line-height: 34px;
  margin-bottom: 45px;
  max-width: 460px;
}

.tools {
  padding-top: 0px;
  text-align: center;
  margin-bottom: 120px;
}

.tools__title {
  text-align: center;
  max-width: 975px;
  margin: 0 auto 20px;
  font-size: 54px;
  line-height: 81px;
  font-weight: 400;
  padding: 0 10px;
}

.tools__text{
  text-align: center;
  max-width: 670px;
  margin: 0 auto 60px;
  font-size: 18px;
  line-height: 27px;    
  font-weight: 400;
  padding: 0 10px;
}

.tools__items {
  display: flex;
  padding: 8px 16px 0;
  margin-bottom: 60px;
  align-items : center;
}

.tools__item {
  margin: 0 auto;
  width: 280px;

}

.tools__item-img {
  margin-bottom: 30px;
  vertical-align:middle;
 
}

.tools__item-title {
  font-size: 28px;
  line-height: 42px;
  font-weight: 400;
  margin-bottom: 13px;
}

.tools__link {
  color: #FFFFFF;
  font-size: 20px;
  line-height: 30px;
  font-weight: 400;
  padding: 12px 44px;
  border-color: transparent;
  background-color: #5FB848;
  border-radius: 50px;
  text-decoration: none;
  cursor: pointer;
  font-style: normal;
  max-width: 185px;
}

.direction {
  padding: 120px 0 10px;
}

.direction__item {
  display: flex;
  justify-content: space-between;

  margin-bottom: 190px;
}

.direction__item-content {
  max-width: 655px;
}

.direction__item-title {
  font-size: 54px;
  line-height: 81px;
  font-weight: 400;
  margin-bottom: 22px;
}

.direction__item-titletext {
  margin-bottom: 30px;
  font-size: 22px;
  line-height: 34px;
  text-align: left;
  max-width: 355px;
}

.direction__link {
  color: #FFFFFF;
  font-size: 20px;
  line-height: 30px;
  font-weight: 400;
  padding: 12px 44px;
  border-color: transparent;
  background-color: #5FB848;
  border-radius: 50px;
  text-decoration: none;
  cursor: pointer;
  font-style: normal;
}

.direction__list {
  list-style: none;
}

.direction__list-item {
  margin-bottom: 0px;    
  padding-left: 35px;    
  position: relative;
}

.direction__list-item::before {
  content: "";
  position: absolute;    
  top: 4.5px;
  left: 0;   
  width: 20px;
  height: 17px;    
  background-image: url(../images/check.svg);
}

.blog {
  padding: 30px 0 120px;
}

.blog__title {
  text-align: center;
  font-size: 54px;
  line-height: 81px;
  font-weight: 400;    
  max-width: 975px;
  margin: 0 auto 20px;
  padding: 0 10px;
  margin-bottom: 50px;
}

.slider {
  margin: 0 -20px;
}

.slider__item {
  padding: 0 20px;
}

.slider__item-img {
  width: 348px;
  height: 185px;
  object-fit: cover;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  margin-bottom: 25px;
}

.slider__item-info {
  margin-bottom: 12px;
  line-height: 28px;
  font-style: normal;
}

.slider__item-author {
  text-decoration: none;
  font-weight: 700;
  color: #544837;
  font-style: normal;
}

.slider__item-title {
  font-style: normal;
  text-decoration: none;
  font-size: 15px;
  line-height: 30px;
  font-weight: 400;
  transition: all .3s;
  margin-bottom: 15px;
  display: inline-block;
}

.slider__item-title:hover {
  color: #5FB848;
  font-weight: 700;
}

.slick-dots {
  list-style: none;
  display: flex;
  justify-content: center;
}

.slick-dots button {
  width: 16px;
  height: 16px;
  border-radius: 50%;
  border: none;
  font-size: 0;
  background-color: #EFEFEF;
  padding: 0;
  margin: 0 5px;
}

.slick-dots .slick-active button {
  background-color: #5FB848;
} 

.footer__inner {
  padding: 105px 0 100px;
  border-top: 1px solid rgba(188, 208, 229, 0.496913);
  display: flex;
  justify-content: space-between;
}

.footer__form-text {
  margin-bottom: 35px;
  font-size: 20px;
  line-height: 30px;
  color: #2F281E;
  font-style: normal;
}

.footer__form {
  width: 330px;
}

.footer__form-input {
  height: 48px;
  padding: 0 15px;
  border: 1px solid #BCD0E5;
  border-radius: 4px;
  width: 100%;
  margin-bottom: 21px;
  display: inline-block;
}

.footer__form-input::placeholder {
  color: #BCD0E5;
  font-size: 16px;
  line-height: 28px;
}

.footer__form-btn {
  color: #FFFFFF;
  font-size: 20px;
  line-height: 30px;
  font-weight: 400;
  padding: 12px 44px;
  border-color: transparent;
  background-color: #5FB848;
  border-radius: 50px;
  text-decoration: none;
  cursor: pointer;
  font-style: normal; 
  border: none;   
  max-width: 185px;
}

.menu__btn {
  width: 40px;
  height: 30px;
  display: none;
}

.menu__btn span {
  display: block;
  height: 2px;
  width: 100%;
  background-color: #000;
  position: absolute;
  left: 0;
  top: 14px;
}

.menu__btn::after,
.menu__btn::before {
  content: "";
  position: absolute;
  width: 40px;
  height: 2px;
  background-color: #000;
  left: 0;
}

.menu__btn::before {
  top: 0;
}

.menu__btn::after {
  bottom: 0;
}

/*styles for recipe 1*/

.main {
  margin-top: 100px;
  margin-bottom: 144px;
}

.back-to-main__href {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 36px;
  text-decoration: none;
  color: #2C3847;
}

.back-to-main__title {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 54px;
  color: #000000;
  margin-top: 50px;
  margin-bottom: 30px;
}

.back-to-main__time {
  font-family: 'Poppins';
  font-weight: 400;
  font-size: 26px;
  line-height: 39px;
  color: #000000;
  margin-bottom: 40px;
}

ol.leaders li { clear: both; }

ol.leaders li span:first-child {
  float: left;
  padding: 0 .4em 0 0;
  margin: 0;
}
ol.leaders li span + span {
  float: right;
  padding: 0 0 0 .4em;
  margin: 0;
}

ol.leaders li:after {
  content: "";
  display: block;
  overflow: hidden;
  height: 1em;
  border-bottom: 1px dotted;
}

.ingredients {
  background-image: url("../images/recipe-background.png");
  width: 1042px;
  height: 613px;
  padding-top: 70px;
  padding-left: 85px;
  padding-right: 85px;
  padding-bottom: 130px;
}

.ingredients__title {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 54px;
  text-align: center;
  color: #000000;
  margin-bottom: 50px;
}

.ingredients-items {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  font-size: 25px;
  line-height: 54px;
  text-align: center;
  color: #000000;
}

.recipe {
  margin-bottom: 130px;
}

.recipe-text-title {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 48px;
  color: #000000;
  margin-bottom: 25px;
}

.recipe-items {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  font-size: 30px;
  line-height: 70px;
  color: #000000;
}

.recipe-steps {
  padding-left: 50px;
}

.recipe-text-image {
  margin-top: 80px;
  text-align: center;
}

.recipe-text-bottom {
  font-family: 'Poppins';
  font-style: italic;
  font-weight: 400;
  font-size: 20px;
  line-height: 30px;
  text-align: center;
  color: #000000;
}

/*styles for registration page*/

.input {
  margin-top:  80px;
}

.input-inner {
  max-width: 560px; 
  text-align: center;
  margin: auto;
}

.input-registration {
  margin-top: 50px;
  margin-bottom: 50px;
}

.input-registration-href {
  margin-bottom: 35px;
  font-size: 20px;
  line-height: 30px;
  color: #2e8813;
  font-style: normal;
  text-decoration: none;
}

.input_emails {
  margin-bottom: 20px;
}


/*styles for registration page*/
.reg {
  margin-bottom: 50px;
}
/*/ИНЗИЛЯ*/


/*РАСИМ*/

.Recipe7 {
  border-radius: 25px;
  
}
.Recipe8 {
  border-radius: 25px;
  
}

.recipe-img {
  float: right;
  border-radius: 25px;
}
.list_of_recipes {
  border-style: solid;
border-color: #2E8E43;
border-radius: 25px;
}
